###***1. Explain the key features of Python that make it a popular choice for programming.***

*   Python is a high level programming language and easy to learn as compare to other languages.
*   Python is very versatile when it comes to real life uses. almost in every field we can use python.

*   Python is simple and very much readable for which it becomes easier to understand and debug even for a begineer.
*   Python has a large community support.

*   Python has huge numbers of libraries, whcih are modules consisting many useful functions, which makes our jobs easier.

###***2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.***

*  Keywords in python are some predefined words which have some special meanings and tasks and those keywords can not be used as a identifier or variable or function name. There are a total of 35 keywords avialable in python.

By using the help() function we can see all the keywords.

In [ ]:
help('keywords') #will show all the keywords of pythonn

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

For example, False, True these are boolean values. and, or, not these are logical operators. while and for is used for creating loops. if else elif these are used for conditional statements. import is use to access any module or libraries.

###***3. Compare and contrast mutable and immutable objects in Python with examples.***

*   The objects or data structure which can be changed or modified after their creation are MUTABLE oblects, and those which can't be modified are IMMUTABLE objects.
*   Lists, stes, dictionaries are the examples of mutable objects. while strings, tuples are immutable objects.

In [ ]:
#immutable object - string
name = "pritam"
name[0] = "A" #name can't be modified because it is a string object

TypeError: 'str' object does not support item assignment

In [ ]:
#Mutable object - list
my_list = [9,'p','g',12]
print(my_list) #by this it will print the initially created list
my_list[0] = 'PG' #modification of the first element of the list

my_list #now it will print the modified list

[9, 'p', 'g', 12]

['PG', 'p', 'g', 12]

###***4. Discuss the different types of operators in Python and provide examples of how they are used.***



*   There are various types of operators in python namely


1.   **Arithmatic Operators**
*  Addition("+")
* Substraction("-"),
* Multiplication("*"),
* Division("/"),
* Modulo or modulus("%"),
* Floor("//"),
* Exponentiation("**")

In [ ]:
#performing all the arithmatic operations on two numbers.

x = 9
y = 5

print("Addtion, x + y = ", x+y)

print("substraction, x - y = ", x-y)

print("Multiplication, x * y =  ", x*y)

print("Division, x/y = ", x/y)

print ("x modulo y is = ", x%y) # Gives the remainder of x/y

print("x to the power y, Exponentiation x^y = ", x**y)

print("Floor,x//y = ", x//y) #returns only the integer part of the remainder

Addtion, x + y =  14
substraction, x - y =  4
Multiplication, x * y =   45
Division, x/y =  1.8
x modulo y is =  4
x powerd y, Exponentiation x^y =  59049
Floor,x//y =  1

2. **Comparison Operators**


*   == (Equal to)
* != (Not equal to)
*  ">"(Greater than)
*< (Less than)
* ">=" (Greater than or equal to)
*<= (Less than or equal to)

*   These operators are essential to compare two variables and always gives  a boolean output, True or False.

In [ ]:
x = 5
y = 9

print(x == y)  #TRUE if x and y are equal
print(x != y)  #TRUE if x and y are NOT equal
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

####3. Assignment Operators
Uses for assigning values to variables.

* Assigns value (=)
*Add and assign (+=)
*Subtract and assign (-=)
* Multiply and assign (*=)
* Divide and assign(/=)
*Modulus and assign(%=)
*Exponent and assign(**=)
* Floor division and assign(//=)

In [ ]:
p = 9
p += 5 #useful in while loop, equivalent to p = p + 5
p

14

In [ ]:
p = 2
p **= 2 # p = p**2
p

4

In [ ]:
p = 7
p %= 3 # p = p%3
p

1

####4. Logical Operators
Useful in conditional statements


*   "and" (when both condition needs to be satisfied or verified. i.e., TRUE when only both are true, or both are false)
*   "or" (when either one has to satisfy. i.e., TRUE when either one is true. FALSE when both are false. TRUE when both)
* "not" (when we want to satisfy the inverse condition to be satisfied, TRUE when when assigned value is false.)

In [ ]:
#Example using conditional statement - evaluating even or odd


original_username = "pritam"
correct_password = "password"

# Input from user
username = input("Enter your username: ")
password = input("Enter your password: ")

# We can only let the user login if both username and password matches
if username == original_username == username and password == correct_password:
    print("You are logged in successfully. Welcome!")
else:
    print("Wrong credentials. Please check your username and password. May be both or either one of your credentials are wrong.")

Enter your username: pritam
Enter your password: password
You are logged in successfully. Welcome!

In [ ]:
#example of or, not
a = True
b = False
c = False
d = True

print(a and b)
print(a and d)
print(b and c)
print(b or a)
print(b or c)
print(a or d)
print(not a)

False
True
False
True
False
True
False

####5. Bitwise Operators
These operators are for binary numbers.
* AND (&)
* OR (|)
* XOR (^)
* NOT (~)
* Left shift (<<)
* Right shift (>>)

####6. Membership Operators
To verify or check the inclusion of an element in a structure. Gives boolean output.

* "in" (TRUE if the element is present)
* "not in" (TRUE if the element is not present.)

In [ ]:
my_list = ["P", 9, 5, "PG"]

print("PG" in my_list)
print(20 not in my_list)
print(9 not in my_list)

True
True
False

####7. Identity Operators
These compares memory locations of two structures.
* "is" (TRUE if both variables are represnting same objects.)
* "not is" (TRUE if both variables are NOT representing same objects.)

In [ ]:
s1 = {"a","b",9,5}
s2 = {"a","b",9,5}
l1 = ["a","b",9,5]
l2 = l1
s3 = s1

print(s1 is s2)
print(s1 is s3)
print(l1 is not s1)
print(l1 is not l2)

False
True
True
False

###***5. Explain the concept of type casting in Python with examples.***

The method of converting one data type to another is known as Type Conversion or Type Casting. In python typecasting can be done by both explicitly and implicitly.

* By **Implicit** type casting we mean when python automatically performs type conversion according the operation necessity. For example, when we try to add a float and a integer, python automatically converts the integer to a float as the addition can only be done within the same data types, and returns a float.
* Whereas in case of **Explicit** type casting, we change the data type using some inbuilt python function according to our need. For example when we take a input from a user using the "input()" function, the data type becomes a string, by default. Then sometimes we need to convert the string data type to another using typecasting functions. Some typecasting functions in python are -
> int(), float(), str(),

In [ ]:
# Implicit type casting
n1 = 9.05       #float
n2 = 12         #integer

sum = n1 + n2
print(sum)
print(type(sum))   #float


#Explicit type casting
n1_upgd = int(n1)
print(n1_upgd) #converted to integer. As we converting a larger data type to a smaller data type we lose precision due to the data loss.
print(type(n1_upgd))  #integer

21.05
<class 'float'>
9
<class 'int'>

In [ ]:
name = "pritam"
print(int(name)) #this will give ValueError. Ss to convert a string to an integer the string element has to have a numeric value.

ValueError: invalid literal for int() with base 10: 'pritam'

In [ ]:
age = input("What's your age? ")    #we will give an integer input

print(type(age))  #in spite of a integer input this will be a string
age = int(age)  # converting to a integer
print(type(age))  # int

What's your age? 9
<class 'str'>
<class 'int'>

In [ ]:
#now the age variable is an integer. so if we try to add name and age this will give a Type-error.
new = name + age

TypeError: can only concatenate str (not "int") to str

In [ ]:
#but we can add name and age if we change the age data type back to string.
new = name + str(age)
print(new)
print(type(new))

pritam9
<class 'str'>

***6. How do conditional statements work in Python? Illustrate with examples.***

There are three keywords in python dedicated for conditional statements. Often we need somethng to be executed if a certain condition satisfies. so conditional statements allows us to give a condition and, when true, execute a certain block of code. The three keywords in python are -
> "if", "else", "elif".

In [1]:
# only using if statement.
# we will say a person is an adult if the age is greater than or equal to 18

age = 18

if age >= 18:
  print("You are an adult")

You are an adult

In [2]:
# now if we want to print something when the age is below 18, we need to use the else.

age = 15

if age >= 18:
  print("You are an adult") #this block of code will be executed when the 1st condition is true
else:
  print("You are not an adult") #otherwise this

You are not an adult

In [3]:
#Let's use boolean variable

adult = True

if adult:
  print("You are an adult")
else:
  print("You are not an adult")

You are an adult

In [4]:
#when we have multiple condition to be checked, we use elif statement

marks = 99

if marks >= 90:
  print("Grade A") #this block of code will be executed when the 1st condition is true, and no condition will be checked after this.
elif marks >= 80:
  print("Grade B")
elif marks >= 70:
  print("Grade C")
elif marks >= 60:
  print("Grade D")
else:
  print("Grade F")

Grade A

***7. Describe the different types of loops in Python and their use cases with examples.***

In python we have two primary loops which helps us to execute a block of code repeatedly over a particular condtion or time. Those two loops in python are known as -
* for loop - helpful when we know exactly how many times we want to execute a block of code that is using for loop we iterate over a sequence or any iterable objects like lists, tuple.
* while loop - we use while loop when we want to execute a certain block of code until a specified condition satiefies.

In [1]:
# EXAMPLE OF FOR LOOP
fruits = ["apple", "banana", "cherry"] #creating a list - an iterable object
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
#using range() funcion - this is a in-built function in python and use to generate a sequence of numbers, helpful in for loop
for x in range(1, 6):
  print(x)     #prints integers from 1 to 5

1
2
3
4
5

In [3]:
# WHILE
count = 0
while count < 5:    #specifying condition
    print(count) #first print 0 then the value of count increases by 1 each time, and comtinues to print till the condition satisfies
    count += 1 #increasing the value of count by 1 and assigning. this  is  a assignment operator

    #prints from 0 to 4

0
1
2
3
4